
.card{
   margin-left: 500px;
   margin-top: 150px;
   text-align: center;
   /* box-shadow: 8px 8px 5px 5px rgb(134, 134, 180); */
   transition: 0.3s;
   border-radius: 5px 5px 5px 5px;
}


.card1{
    background-image: url(./image/img\ 1\ winter\ page.webp);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to full viewport */
    width: 100%; /* Set width to full viewport */
    position: absolute; /* Ensure any absolute positioned elements are relative to this */
}



.card2{
    background-image: url(./image/summer\ img2.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to full viewport */
    width: 100%; /* Set width to full viewport */
    position: absolute; /* Ensure any absolute positioned elements are relative to this */
}


.card3{
    background-image: url(./image/autonm\ back.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to full viewport */
    width: 100%; /* Set width to full viewport */
    position: absolute; /* Ensure any absolute positioned elements are relative to this */
}


.card4{
    background-image: url(./image/spring\ back.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to full viewport */
    width: 100%; /* Set width to full viewport */
    position: absolute; /* Ensure any absolute positioned elements are relative to this */
}


.card5{
    background-image: url(./image/cloudy\ back.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to full viewport */
    width: 100%; /* Set width to full viewport */
    position: absolute; /* Ensure any absolute positioned elements are relative to this */
}


.card6{
    background-image: url(./image/rainy\ abck.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to full viewport */
    width: 100%; /* Set width to full viewport */
    position: absolute; /* Ensure any absolute positioned elements are relative to this */
}


.cardss{
    margin-left: 500px;
    margin-top: 150px;
    text-align: center;
    /* box-shadow: 8px 8px 5px 5px rgb(134, 134, 180); */
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
}




