
.card{
   margin-left: 500px;
   margin-top: 150px;
   text-align: center;
   transition: 0.3s;
   border-radius: 5px 5px 5px 5px;
}


.card1{
    background-image: url(./image/img\ 1\ winter\ page.webp);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
}



@media (max-width: 768px) {
    .card {
        margin: 20px; 
        width: 90%; 
    }

    .card1 {
        height: 80vh; 
    }
}

@media (max-width: 480px) {
    .card {
        margin: 10px; 
    }

    .card1 {
        height: 70vh; 
    }
}

.card2{
    background-image: url(./image/summer\ img2.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
}

.card3{
    background-image: url(./image/autonm\ back.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
}


.card4{
    background-image: url(./image/spring\ back.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
}


.card5{
    background-image: url(./image/cloudy\ back.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
}


.card6{
    background-image: url(./image/rainy\ abck.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    position: absolute; 
}


.cardss{
    margin-left: 500px;
    margin-top: 150px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
}

@media (max-width: 768px) {
    .cardss {
        margin: 10% auto; 
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .cardss {
        margin: 5% auto; 
        width: 95%;
    }
}


